*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-content{
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
}

.row-style{
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.film-container{
  flex-wrap: wrap;
  justify-content: center;
}
