*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-content{
  width: 100%;
  background-color: darkgrey;
}

.row-style{
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.film-container{
  flex-wrap: wrap;
  justify-content: center;
}

.film-box{
  margin: 10px;
}

.language-icon img{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
